<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"/>
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash/lodash.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/vue2-dropzone@3.5.8/dist/vue2Dropzone.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Elexifier</title>

</head>
<body>

<!-- maybe single page dataset / transform ? -->

<div id="app">
  <div v-if="!selected_transform" id="dataset-page">
    <b-container fluid>
      <b-row>
	<b-col cols="6">
	  <div>Dictionaries</div>
	    <vue-dropzone 
	       ref="dictdropzone" id="dropzone" 
	       :options="dropzoneOptions" @vdropzone-file-added="dictuploadadd"
	       @vdropzone-success="dictuploadok">
	    </vue-dropzone>
	    <div id="dict-list">
	      <b-list-group>
		<elexis-dict-entry v-for="dict_entry in dict_list" :key="dict_entry.id" v-bind:d="dict_entry"/>
	      </b-list-group>
	    </div>
	</b-col>
	<b-col cols="6">
	  <div>Transforms</div>
	  <b-button v-if="selected_ds_uuid" v-b-modal.modal-create-transform>Add new transform</b-button>
	  <b-modal id="modal-create-transform" title="New transform" @ok="okTransformModal">
	    <form id="modal-create-transform-form" ref="modal-create-transform-form">
	      <label for="name">Name</label>
	      <input type="text" name="xfname" ref="modal-create-transform-form-xfname">
	      <br>
	      <label for="entryspec">Dictionary split XPATH</label>
	      <input type="text" name="entryspec" ref="modal-create-transform-form-entryspec">
	    </form>
	  </b-modal>
	  <div id="transform-list">
	    <b-list-group>
	      <elexis-transform-entry v-for="transform_entry in transform_list" :key="transform_entry.id" v-bind:d="transform_entry"/>
	    </b-list-group>
	  </div>
	</b-col>	
      </b-row>
    </b-container>
  </div>
  <div v-if="selected_transform" id="transform-page">
    <b-container fluid>
      <b-row>
	<b-col cols="2">
	  <b-button size="sm" @click="exit_xfm_view()"><i class="fa fa-chevron-left"></i> Back to dictionary list</b-button><br>
	  <b-button size="sm" v-b-modal.show-transform>Show transform</b-button><br>
	  <b-button size="sm" @click="upload_transform">Save transform<span v-if="transform_modified"> (!)</span></b-button><br>
	  <b-modal id="show-transform" title="Transform spec">
	    <b-button v-if="debug_mode" @click="display_internal_transform = !display_internal_transform">Switch to internal transform representation</b-button>
	    <textarea rows="30" cols="45" style="font-family:monospace">{{current_transform}}</textarea>
	  </b-modal>
	  <div id="entity-selector">
	    <b-form-group id="entity-selector-search">
	      <b-input-group>
		<b-input-group-text slot="prepend"><i class="fa fa-search"></i></b-input-group-text>
		<b-form-input id="search-entity-input" v-model="search_entity" placeholder="Entity"></b-form-input>
	      </b-input-group>
	    </b-form-group>
	    <b-button>Update headwords</b-button>
	    <div id="entity-selector-list">
	      <b-spinner id="entity-selector-spinner" ref="entity-selector-spinner" v-if="entity_list_waiting"></b-spinner>
	      <!-- {{ search_entity }} -->
	      <b-list-group style="overflow-y:auto; max-height: 1000px;">
		<elexis-entity-list-item v-for="entity in filtered_entity_list" :key="entity.id" v-bind:d="entity"/>
	      </b-list-group>
	    </div>
	  </div>
	</b-col>
	<b-col cols="10">
	  <b-row>
	    <b-col cols="6">
	      <div id="main-window-content-input">
		<textarea id="xfin" ref="xfin" style="width:100%" rows="15">
		</textarea>
	      </div>
	    </b-col>
	    <b-col cols="6">
	      <div id="main-window-content-output">
		<textarea id="xfout" ref="xfout" style="width:100%" rows="15">
		</textarea>
		<b-button @click="run_transform_entity()">Update output</b-button>
		<b-form-checkbox v-model="transform_strip_ns">Strip namespaces</b-form-checkbox>
	      </div>
	    </b-col>
	  </b-row>
	  <b-row>
	    <b-col>
	      <div id="main-window-transform">
		<div id="main-window-transform-list">
		  <b-list-group>
		    <elexis-transform-var-item v-for="transform_name in transform_spec.slots" :key="transform_spec[transform_name].var" v-bind:d="transform_spec[transform_name]" :var_name="transform_name"
   v-on:elexis-selector-prepend="dm_sel_prepend"
   v-on:elexis-selector-append="dm_sel_append"
   v-on:elexis-selector-except="dm_sel_except"
   v-on:elexis-selector-remove="dm_sel_remove"
   v-on:elexis-transform-prepend="dm_xfm_prepend"
   v-on:elexis-transform-append="dm_xfm_append"
   v-on:elexis-transform-remove="dm_xfm_remove" />
		  </b-list-group>
		</div>
	      </div>
	    </b-col>
	  </b-row>
	</b-col>
      </b-row>
    </b-container>
  </div>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}" type="module"></script>
</body>
</html>
